In [96]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import csv

# Read the csv files
death_file = os.path.join("Resources","Deaths_By_P&E.csv")
insurance_file = os.path.join("Resources","Insured_By_State.csv")

# Create Dataframes
deathFile_df = pd.read_csv(death_file)
insuranceFile_df = pd.read_csv(insurance_file, skiprows=[0,1])
insuranceFile_df
# Insurance file header
insuranceFile_df.head()

,Location,Employer,Non-Group,Medicaid,Medicare,Other Public,Uninsured,Total
0,United States,0.49,0.07,0.19,0.14,0.02,0.09,1.0
1,Alabama,0.47,0.05,0.21,0.16,0.03,0.09,1.0
2,Alaska,0.46,0.03,0.20,0.10,0.08,0.14,1.0
3,Arizona,0.44,0.05,0.21,0.15,0.03,0.12,1.0
4,Arkansas,0.44,0.09,0.21,0.17,0.02,0.08,1.0

In [97]:
# Death file header
deathFile_df.head()

,geoid,Region,State,age,season,MMWR Year/Week,Deaths from influenza,Deaths from pneumonia,Deaths from pneumonia and influenza,All Deaths,Pecent of deaths due to pneumonia or influenza,pecent complete
0,National,NaN,NaN,All,2009-10,200940,149.0,3484.0,3633.0,46412.0,7.827717,97.546212
1,National,NaN,NaN,All,2009-10,200941,174.0,3703.0,3877.0,46453.0,8.346070,97.632384
2,National,NaN,NaN,All,2009-10,200942,239.0,3841.0,4080.0,47451.0,8.598344,99.729926
3,National,NaN,NaN,All,2009-10,200943,295.0,3762.0,4057.0,46432.0,8.737509,97.588247
4,National,NaN,NaN,All,2009-10,200944,298.0,3858.0,4156.0,47372.0,8.773115,99.563888

In [98]:
# Cleaning up the death data file

# Breaking up the "MMWR Year/Week" column and converting into just a "Year" Column
deathFile_df['Year'] = deathFile_df['MMWR Year/Week'].astype(str).str[0:4]

# Drops the season and MMWR Year/Week column
Drop_season_and_yearWeek_df= deathFile_df.drop(['season', 'MMWR Year/Week', 'pecent complete'], axis=1)
# Death file header
#Drop_season_and_yearWeek_df.head()

# Fixing spelling errors in column names
spell_check_df = Drop_season_and_yearWeek_df.rename(index=str, 
                                                    columns={"geoid": "Geo ID", 
                                                             "age": "Age", 
                                                             "Deaths from pneumonia and influenza": 
                                                             "Deaths from Pneumonia and Influenza", 
                                                             "Pecent of deaths due to pneumonia or influenza": 
                                                             "Percent of deaths due to Pneumonia or Influenza"})
# Spell check header
spell_check_df.head()

,Geo ID,Region,State,Age,Deaths from influenza,Deaths from pneumonia,Deaths from Pneumonia and Influenza,All Deaths,Percent of deaths due to Pneumonia or Influenza,Year
0,National,NaN,NaN,All,149.0,3484.0,3633.0,46412.0,7.827717,2009
1,National,NaN,NaN,All,174.0,3703.0,3877.0,46453.0,8.346070,2009
2,National,NaN,NaN,All,239.0,3841.0,4080.0,47451.0,8.598344,2009
3,National,NaN,NaN,All,295.0,3762.0,4057.0,46432.0,8.737509,2009
4,National,NaN,NaN,All,298.0,3858.0,4156.0,47372.0,8.773115,2009

In [99]:
# Creating a data frame for just the states
# Drop region column in the data frame
drop_region_df = pd.DataFrame(spell_check_df.drop(['Region', 'Deaths from influenza', 'Deaths from pneumonia'], axis=1))
drop_region_df.head()

,Geo ID,State,Age,Deaths from Pneumonia and Influenza,All Deaths,Percent of deaths due to Pneumonia or Influenza,Year
0,National,NaN,All,3633.0,46412.0,7.827717,2009
1,National,NaN,All,3877.0,46453.0,8.346070,2009
2,National,NaN,All,4080.0,47451.0,8.598344,2009
3,National,NaN,All,4057.0,46432.0,8.737509,2009
4,National,NaN,All,4156.0,47372.0,8.773115,2009

In [100]:
#Deaths from Pneumonia and Influenza in the year of 2016 of every state.
states_2016_pneu_influ = spell_check_df.loc[spell_check_df["Year"] == "2016"].groupby("State")["Deaths from Pneumonia and Influenza"].sum()
states_2016_pneu_influ

State
Alabama                  2909.0
Alaska                    237.0
Arizona                  3502.0
Arkansas                 2388.0
California              20086.0
Colorado                 2171.0
Connecticut              2076.0
Delaware                  533.0
District of Columbia      259.0
Florida                 11298.0
Georgia                  4523.0
Hawaii                   1109.0
Idaho                     763.0
Illinois                 7085.0
Indiana                  4314.0
Iowa                     2084.0
Kansas                   1704.0
Kentucky                 3952.0
Louisiana                2172.0
Maine                     855.0
Maryland                 3254.0
Massachusetts            4358.0
Michigan                 5878.0
Minnesota                2839.0
Mississippi              2243.0
Missouri                 3724.0
Montana                   566.0
Nebraska                 1163.0
Nevada                   1751.0
New Hampshire             788.0
New Jersey               4179.0
New Mexico               1316.0
New York                 7206.0
New York City            4674.0
North Carolina           6527.0
North Dakota              503.0
Ohio                     7305.0
Oklahoma                 3065.0
Oregon                   1896.0
Pennsylvania             7963.0
Rhode Island              682.0
South Carolina           3229.0
South Dakota              615.0
Tennessee                4889.0
Texas                   13295.0
Utah                     1250.0
Vermont                   428.0
Virginia                 3782.0
Washington               3619.0
West Virginia            1716.0
Wisconsin                3103.0
Wyoming                   317.0
Name: Deaths from Pneumonia and Influenza, dtype: float64

In [101]:
#Deaths from all other causes other than Pnuemonia and influenza in the year of 2016 of every state.
states_2016_allDeaths = spell_check_df.loc[spell_check_df["Year"] == "2016"].groupby("State")["All Deaths"].sum()
states_2016_allDeaths

State
Alabama                  52160.0
Alaska                    4458.0
Arizona                  56328.0
Arkansas                 31581.0
California              260586.0
Colorado                 37308.0
Connecticut              30373.0
Delaware                  8836.0
District of Columbia      5018.0
Florida                 196128.0
Georgia                  81000.0
Hawaii                   10859.0
Idaho                    13306.0
Illinois                106417.0
Indiana                  63103.0
Iowa                     29362.0
Kansas                   26092.0
Kentucky                 47508.0
Louisiana                44055.0
Maine                    14116.0
Maryland                 48563.0
Massachusetts            56668.0
Michigan                 95702.0
Minnesota                42806.0
Mississippi              31555.0
Missouri                 59550.0
Montana                   9851.0
Nebraska                 16120.0
Nevada                   23748.0
New Hampshire            12123.0
New Jersey               72732.0
New Mexico               18251.0
New York                100057.0
New York City            53423.0
North Carolina           89984.0
North Dakota              6204.0
Ohio                    118595.0
Oklahoma                 39020.0
Oregon                   35551.0
Pennsylvania            132306.0
Rhode Island              9688.0
South Carolina           47887.0
South Dakota              7794.0
Tennessee                67484.0
Texas                   190876.0
Utah                     17808.0
Vermont                   5758.0
Virginia                 66096.0
Washington               54442.0
West Virginia            22598.0
Wisconsin                51539.0
Wyoming                   4706.0
Name: All Deaths, dtype: float64

In [102]:
# Edit the data so that it appears as percentages
# Drop the total column
Drop_total_df = insuranceFile_df.drop(['Total'], axis=1)
Drop_total_df = Drop_total_df.drop(Drop_total_df.index[52:78])
# Replace Null with 0
drop_null_df = Drop_total_df.fillna(0)

# Convert floats to percentages
output_df = drop_null_df.to_string(formatters={
    'Employer': '{:,.0%}'.format,
    'Non-Group': '{:,.0%}'.format,
    'Medicaid': '{:,.0%}'.format,
    'Medicare': '{:,.0%}'.format,
    'Other Public': '{:,.0%}'.format,
    'Uninsured': '{:,.0%}'.format
})

# Check the format of the data
print(output_df)

                Location Employer Non-Group Medicaid Medicare Other Public Uninsured
0          United States      49%        7%      19%      14%           2%        9%
1                Alabama      47%        5%      21%      16%           3%        9%
2                 Alaska      46%        3%      20%      10%           8%       14%
3                Arizona      44%        5%      21%      15%           3%       12%
4               Arkansas      44%        9%      21%      17%           2%        8%
5             California      46%        8%      25%      11%           1%        8%
6               Colorado      52%        7%      16%      13%           3%       10%
7            Connecticut      54%        6%      20%      14%           0%        6%
8               Delaware      47%        4%      22%      16%           2%        9%
9   District of Columbia      51%        7%      24%      11%           0%        5%
10               Florida      42%       10%      16%      18%           3%       12%
11               Georgia      49%        7%      17%      12%           4%       12%
12                Hawaii      55%        3%      15%      15%           6%        5%
13                 Idaho      48%       10%      17%      14%           2%        9%
14              Illinois      51%        8%      18%      14%           1%        7%
15               Indiana      52%        6%      20%      14%           1%        7%
16                  Iowa      54%        6%      18%      15%           1%        5%
17                Kansas      53%        9%      14%      13%           0%        8%
18              Kentucky      44%       10%      21%      16%           0%        6%
19             Louisiana      42%        6%      25%      14%           0%       11%
20                 Maine      49%        5%      21%      16%           1%        7%
21              Maryland      54%        7%      16%      14%           3%        6%
22         Massachusetts      54%        6%      22%      12%           1%        6%
23              Michigan      51%        5%      22%      15%           1%        6%
24             Minnesota      55%        8%      14%      15%           0%        6%
25           Mississippi      42%        5%      24%      14%           3%       12%
26              Missouri      51%        8%      15%      17%           1%        8%
27               Montana      43%        7%      22%      18%           3%        7%
28              Nebraska      55%        7%      13%      15%           2%        7%
29                Nevada      50%        5%      18%      15%           4%        9%
30         New Hampshire      58%        6%      13%      16%           2%        7%
31            New Jersey      55%        6%      17%      14%           0%        8%
32            New Mexico      36%        5%      31%      14%           2%       11%
33              New York      50%        7%      24%      13%           1%        6%
34        North Carolina      45%        9%      18%      15%           3%       11%
35          North Dakota      55%        8%      12%      13%           4%        8%
36                  Ohio      51%        5%      22%      15%           1%        6%
37              Oklahoma      48%        5%      18%      16%           3%       11%
38                Oregon      46%        7%      24%      16%           1%        5%
39          Pennsylvania      53%        6%      19%      16%           1%        5%
40          Rhode Island      51%        8%      20%      15%           0%        5%
41        South Carolina      46%        7%      19%      16%           4%        9%
42          South Dakota      49%       10%      15%      17%           2%        8%
43             Tennessee      46%        6%      20%      15%           0%       11%
44                 Texas      49%        6%      16%      11%           2%       15%
45                  Utah      60%        7%      10%      10%           0%       12%
46               Vermont      47%        9%      20%      16%           2%        5%
47              Virginia      55%        5%      12%      14%           5%       10%
48            Washington      49%        7%      22%      13%           2%        7%
49         West Virginia      43%        4%      26%      18%           1%        7%
50             Wisconsin      56%        5%      16%      14%           2%        7%
51               Wyoming      55%        7%      13%      14%           3%       10%