In [8]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import csv

# Read the csv files
death_file = os.path.join("Resources","Deaths_By_P&E.csv")
insurance_file = os.path.join("Resources","Insured_By_State.csv")

# Create Dataframes
deathFile_df = pd.read_csv(death_file)
insuranceFile_df = pd.read_csv(insurance_file, skiprows=[0,1])

# Insurance file header
insuranceFile_df.head()

,Location,Employer,Non-Group,Medicaid,Medicare,Other Public,Uninsured,Total
0,United States,0.49,0.07,0.19,0.14,0.02,0.09,1.0
1,Alabama,0.47,0.05,0.21,0.16,0.03,0.09,1.0
2,Alaska,0.46,0.03,0.20,0.10,0.08,0.14,1.0
3,Arizona,0.44,0.05,0.21,0.15,0.03,0.12,1.0
4,Arkansas,0.44,0.09,0.21,0.17,0.02,0.08,1.0

In [9]:
# Death file header
deathFile_df.head()

,geoid,Region,State,age,season,MMWR Year/Week,Deaths from influenza,Deaths from pneumonia,Deaths from pneumonia and influenza,All Deaths,Pecent of deaths due to pneumonia or influenza,pecent complete
0,National,NaN,NaN,All,2009-10,200940,149.0,3484.0,3633.0,46412.0,7.827717,97.546212
1,National,NaN,NaN,All,2009-10,200941,174.0,3703.0,3877.0,46453.0,8.346070,97.632384
2,National,NaN,NaN,All,2009-10,200942,239.0,3841.0,4080.0,47451.0,8.598344,99.729926
3,National,NaN,NaN,All,2009-10,200943,295.0,3762.0,4057.0,46432.0,8.737509,97.588247
4,National,NaN,NaN,All,2009-10,200944,298.0,3858.0,4156.0,47372.0,8.773115,99.563888

In [16]:
# Cleaning up the death data file

# Breaking up the "MMWR Year/Week" column and converting into just a "Year" Column
deathFile_df['Year'] = deathFile_df['MMWR Year/Week'].astype(str).str[0:4]

# Drops the season and MMWR Year/Week column
Drop_season_and_yearWeek_df= deathFile_df.drop(columns=['season', 'MMWR Year/Week', 'pecent complete'])
# Death file header
#Drop_season_and_yearWeek_df.head()

# Fixing spelling errors in column names
spell_check_df = Drop_season_and_yearWeek_df.rename(index=str, columns={"geoid": "Geo ID", "age": "Age", "Deaths from influenza": "Deaths from Influenza", "Deaths from pneumonia and influenza": "Combined Deaths", "Pecent of deaths due to pneumonia or influenza": "Percent of deaths due to Pneumonia or Influenza"})
# Spell check header
spell_check_df.head()

,Geo ID,Region,State,Age,Deaths from Influenza,Deaths from pneumonia,Combined Deaths,All Deaths,Percent of deaths due to Pneumonia or Influenza,Year
0,National,NaN,NaN,All,149.0,3484.0,3633.0,46412.0,7.827717,2009
1,National,NaN,NaN,All,174.0,3703.0,3877.0,46453.0,8.346070,2009
2,National,NaN,NaN,All,239.0,3841.0,4080.0,47451.0,8.598344,2009
3,National,NaN,NaN,All,295.0,3762.0,4057.0,46432.0,8.737509,2009
4,National,NaN,NaN,All,298.0,3858.0,4156.0,47372.0,8.773115,2009

In [ ]:
# Creating a data frame for just the states
states_df = spell_check_df.loc[df['State'] != NaN]